@import "partials/variables";
@import "partials/header";
@import "partials/generics";
@import "partials/footer";
@import "partials/content";
@import "partials/common";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






//
