header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;

    figure{
            
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        li{
            padding: 15px;
            a{
                text-decoration: none;
                color: #1c1c1c;
            }
            &:hover{
                background-color: #0282f9;
            }
            &.active{
                background-color: #0282f9;
            }
        }
    }
}